body {
    background-image: url('img/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    pointer-events: none;
}
